

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-container {
  max-width: 1000px;
  /* margin: 2rem auto; */
  padding: 2rem;
  background-color: #fdfdfd;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  color: #1677ff;
  margin-bottom: 2rem;
}

.form-subtitle {
  font-size: 20px;
  font-weight: 600;
  margin: 2rem 0 1rem;
  color: #444;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* margin-bottom: 1rem; */
}

.form-row .ant-form-item {
  flex: 1;
  min-width: 200px;
}

.submit-button {
  text-align: center;
  margin-top: 2rem;
}

.setting-icon {
  display: flex;
  justify-content: end;
  align-items: end;
  margin: 10px;
}

.ant-drawer-content-wrapper:has(.receipt-preview) {
  height: 100% !important;
}

.invoice-wrapper {
  display: flex;
  gap: 20px;
  height: 100vh; /* full screen */
  padding: 1rem;
  background: #f5f6fa;
}

/* left side form (scrollable) */
.form-scroll {
  flex: 1;
  max-width: 65%; /* adjust if needed */
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  overflow-y: auto;
}

/* right side preview */
.preview-section {
  flex: 0.4;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  overflow-y: auto;
  max-height: 100%;
}

.add-items-btn{
  display: flex;
  justify-content: end;
  align-items: end;
}